# Node
node_modules/
dist/
.DS_Store

# Editor
.vscode/
.idea/

# Temp & Downloads
temp_downloads/
tmp/
temp/
*.log
.env
.dev.vars
.capnp/
.wrangler/

# Python
__pycache__/
*.pyc

# Data
rag-processing/data/*.pdf
rag-processing/data/*.tgz
rag-processing/data/*.json
